<!DOCTYPE html>
<html>

<head>
    <title>WEB APP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../css/manager.css">
    <link rel="stylesheet" href="../css/transtation.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>MODERATOR</title>
</head>

<body>
    <div class="header">
        <a href="/">Баны</a>
        <p>Перевод</p>
        <a href="/contacts">Контакты</a>
        <div class="name" id="logout">
            <p>Выйти</p>
            <i class="material-icons prefix">logout</i>
        </div>
    </div>

    <div class="content">

    </div>

    <script type="module" src="../js/moderator.js"></script>
    <script src="../js/logout.js"></script>
</body>
<html>