html {
    background: #27292d;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin: 10px;
}

.name p {
    margin: 10px;
}

.name p, .name i {
    color: #d2d2d2;
}

.content {
    margin-top: 20px;
    width: 100%;
    min-height: 400px;
    background: #1f2023;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 22% !important;
    height: 200px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #27292d;
    padding: 10px 20px;
    align-items: center;
    margin-left: 40px;
    cursor: pointer;
}

.uiElements {
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.message {
    padding: 10px;
    display: flex;
    border-radius: 5px;
    background: #27292d;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-right: 100px;

}

.message p {
    color: #d2d2d2;
}

.card p {
    color: #d2d2d2;
    line-height: 0px;
}

span {
    color: rgb(204, 87, 87) !important;
}

@media (min-width: 1000px) {
    .formContainer {
        width: 60%;
        margin-left: 20%;
        padding-left: 20px;
        padding-right: 20px;
    }
    label {
        font-size: 14px !important;
        line-height: 10px !important;
    }
}
